
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.bigred{
	font-size: 20px;
	color: red;
}

table {
	border-spacing: 0 5px;
	font-size: 22px;
	}

th {
	padding: 30px 35px;
	background: #dcf087;
	color: #3d3c39;
	border-right: 2px solid; 
	font-size: 25px;
	}
	
	th:last-child{
		border-right: none;
	}

	td {
		vertical-align: middle;
		padding: 10px 50px;
		font-size: 14px;
		text-align: center;
		border-top: 2px solid #56433D;
		border-bottom: 2px solid #56433D;
		border-right: 2px solid #56433D;
		border-left: none;
		}
	
td:first-child{
	border-left: 2px solid #fd4108;
}
